.heading {
  color: #fff;
  text-align: center;
  font-family: Pretendard700;
  font-size: 4rem;
  margin-bottom: 7.1rem;
  span {
    color: #b881f4;
  }
}

.desc {
  text-align: center;
  font-size: 2.7rem;
  background: linear-gradient(91deg, #b776ff -60.33%, #fff 212.32%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3.647rem;
}

.animation-technology {
  width: 112%;
  position: relative;
  left: -73px;
  img {
    width: 28.2rem;
    height: 37.1rem;
  }
}

.animation-projects {
  width: 123%;
  position: relative;
  left: -200px;
  img {
    width: 29.9076rem;
  }
}

.header-hero {
  background-image: linear-gradient(180deg, #09062200 0%, #090622 100%),
    url("../../assets/images/earth-wallpaper-_1920x1080_\ 2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  padding-top: 37.2rem;
  margin-bottom: 30.474rem;
  p {
    color: #fff;
    text-align: center;
    font-family: Pretendard500;
    font-size: 2.5rem;
    margin-bottom: 5rem;
  }
  &-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.2rem;
    margin-bottom: 8.2rem;
    img {
      height: 26.6rem;
    }
  }
  &-link {
    display: grid;
    place-items: center;
  }
}

.technology {
  margin-bottom: 20rem;
  h1.heading {
    margin-bottom: 14.179rem;
  }
  &-list img {
    height: 37.1rem;
  }
}

.process {
  // padding: 36.97rem 0 86.083rem 0;
  // height: max-content;
  position: relative;
  // img {
  //   height: 141.9rem;
  //   // position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  //   z-index: -9999999;
  // }
  margin-bottom: 8.473rem;
  img {
    height: 141.9rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .content {
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 31rem;
    transform: translateX(-50%);
    h1.heading {
      margin-bottom: 0;
    }
    p.desc {
      margin-bottom: 3.647rem;
    }
  }
}

.service h1.heading {
  br {
    &:first-child {
      display: none;
    }
  }
}

.projects {
  margin-bottom: 36.952rem;
  h1.heading {
    margin-bottom: 11.112rem;
    span {
      br {
        display: none;
      }
    }
  }
  &-list {
    gap: 9.704rem;
    img {
      width: 29.9076rem;
    }
  }
}

.value {
  margin-bottom: 27rem;
  h1.heading span br {
    display: none;
  }
  .frame {
    display: grid;
    place-items: center;
    iframe {
      width: 120rem;
      height: 67.4rem;
      border-radius: 0.5rem;
    }
  }
}

.prices {
  position: relative;
  padding-bottom: 43.5rem;
  .front-img {
    img {
      &:first-child {
        height: 43.1149rem;
        position: absolute;
        z-index: -99999999;
        top: 0;
        left: 0;
      }
      &:last-child {
        height: 13.9468rem;
        z-index: -99999999;
        position: absolute;
        top: 5.8rem;
        left: 10.4rem;
      }
    }
    &.second {
      img {
        &:last-child {
          top: -5rem;
          left: 20.4rem;
        }
      }
      position: absolute;
      right: 0;
      bottom: 20rem;
      transform: rotate(180deg);
    }
  }
  h1.heading {
    margin-bottom: 8.6rem;
    br {
      &:last-child {
        display: none;
      }
    }
  }
  &-desc {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 6.5rem;
    span {
      color: #915bff;
    }
  }
  &-link {
    display: grid;
    place-items: center;
    margin-bottom: 8.6rem;
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.36rem;
    padding: 0 5rem;
    margin-bottom: 8.2rem;
  }
}

@media (max-width: 89.99em) {
  .heading {
    font-size: 3.52rem;
  }
  .animation-technology {
    width: 130%;
    left: -84px;
    img {
      width: 19.5rem;
      height: 25.6rem;
    }
  }
  .animation-projects {
    width: 123%;
    left: -85px;
    img {
      width: 21.76rem;
    }
  }
  .hero {
    margin-bottom: 24.74rem;
    &-cards {
      flex-direction: column;
    }
  }
  .process {
    margin-bottom: 5rem;
    img {
      height: 84rem;
    }
    .content {
      width: 504px;
      top: 140px;
    }
  }
  .service h1.heading {
    br {
      &:first-child {
        display: block;
      }
    }
  }
  .value {
    margin-bottom: 22.97rem;
    h1.heading span br {
      display: block;
    }
    .frame iframe {
      width: 54.2rem;
      height: 30.4049rem;
    }
  }
  .prices {
    padding-bottom: 21.76rem;
    h1.heading {
      margin-bottom: 7.52rem;
      br {
        &:last-child {
          display: block;
        }
      }
    }
    &-desc.mobile {
      display: block;
    }
    &-link.mobile {
      display: grid;
    }
    &-desc.desktop,
    &-link.desktop {
      display: none;
    }
    &-list {
      display: grid;
      width: 71rem;
      margin: 0 auto;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
      margin-bottom: 6.58rem;
      padding: 0;
    }
  }
}

@media (max-width: 47.94em) {
  .heading {
    font-size: 3.14rem;
    padding: 0 3.5rem;
  }
  .desc {
    font-size: 2.85rem;
  }
  .animation-technology {
    width: 115%;
    left: -40px;
    img {
      width: 13.57rem;
      height: 17.85rem;
    }
  }
  .animation-projects {
    left: -90px;
  }
  .technology {
    margin-bottom: 14.28rem;
    h1.heading {
      margin-bottom: 5.42rem;
    }
  }
  .process {
    margin: 22rem 0 16rem 0;
    img {
      height: 55rem;
    }
    .content {
      top: 0;
      width: 333px;
    }
    h1.heading {
      margin-bottom: 0;
      br {
        display: none;
      }
    }
  }
  .service {
    margin-bottom: 130rem;
    h1.heading {
      margin-bottom: 0;
      br {
        display: none;
      }
    }
  }
  .projects {
    margin-bottom: 18.71rem;
    h1.heading {
      margin: 0 auto;
      margin-bottom: 6.5rem;
      width: 340px;
      span br,
      br {
        display: none;
      }
    }
  }
  .value {
    h1.heading {
      br {
        display: none;
      }
    }
    .frame iframe {
      width: 48rem;
      height: 26.85rem;
    }
  }
  .prices {
    &-list {
      width: 20rem;
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 29.37em) {
  .animation-projects {
    left: -73px;
    img {
      width: 102px;
      height: 148px;
    }
  }
}
