* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: $rem;
}

body {
  font-weight: 500;
  background-color: #0f0f0f;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 123rem;
  margin: 0 auto;
}
