@font-face {
  font-family: Pretendard700;
  src: url("../assets/fonts/PRETENDARD-BOLD.OTF");
}

@font-face {
  font-family: Pretendard600;
  src: url("../assets/fonts/PRETENDARD-SEMIBOLD.OTF");
}

@font-face {
  font-family: Pretendard500;
  src: url("../assets/fonts/PRETENDARD-MEDIUM.OTF");
}

@font-face {
  font-family: Pretendard400;
  src: url("../assets/fonts/PRETENDARD-REGULAR.OTF");
}

@font-face {
  font-family: GMarketBold;
  src: url("../assets/fonts/GmarketSansBold.otf");
}

@font-face {
  font-family: GMarketMedium;
  src: url("../assets/fonts/GmarketSansMedium.otf");
}
