.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.5rem 11.829rem 0 11.54rem;
  position: absolute;
  width: 100%;
  .logo img {
    height: 3.7rem;
    width: 14.1rem;
  }
  .nav {
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    ul {
      list-style: none;
      display: flex;
      gap: 3rem;
      &:first-child {
        padding-right: 3rem;
        border-right: 1px solid #e4ebf3;
      }
      &:last-child {
        padding-left: 3rem;
      }
    }
  }
  // .auth-nav {
  //   color: #fff;
  //   font-size: 1.9rem;
  //   font-family: Arial, Helvetica, sans-serif;
  //   letter-spacing: 2px;
  //   display: flex;
  //   ul {
  //     list-style: none;
  //     display: flex;
  //     gap: 3rem;
  //   }
  // }
}

@media (max-width: 89.99em) {
  .header {
    display: none;
  }
}
