.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.5rem 11.829rem 0 11.54rem;
  position: absolute;
  width: 100%;
  transition: all 0.5s;
  z-index: 99;
  &.fixed {
    position: fixed;
    top: 0;
    padding: 3.5rem 11.829rem 3.5rem 11.54rem;
    background-color: #090622;
    border-bottom: 1px solid #555;
  }
  .logo img {
    height: 3.7rem;
    width: 14.1rem;
  }
  .nav {
    display: flex;
    ul {
      list-style: none;
      display: flex;
      gap: 0.5rem;
      li {
        .link {
          color: #fff;
          font-size: 1.6rem;
          padding: 1rem 1.5rem;
          border-radius: 0.5rem;
          &.active,
          &:hover {
            color: #c795ff;
          }
        }
      }
      &:first-child {
        padding-right: 3rem;
        border-right: 1px solid #e4ebf3;
      }
      &:last-child {
        padding-left: 3rem;
      }
    }
  }
}

@media (max-width: 89.99em) {
  .header {
    display: none;
  }
}
