.footer {
  background-color: #fff;
  padding: 3.3rem 17.2rem 3.7rem 17.2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 9rem;
  &-logo img {
    height: 7.2rem;
  }
  &-content {
    padding: 0 1.5rem 1.2rem 1.5rem;
    .nav ul {
      list-style: none;
      display: flex;
      padding: 0.8rem 0;
      margin-bottom: 1.8rem;
      li {
        align-items: center;
        color: #424242;
        font-size: 1.4rem;
        font-family: Pretendard400;
        padding: 0 1.36rem;
        border-right: 1px solid #d4d4d4;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
          border: none;
        }
      }
      .selected {
        font-family: Pretendard700;
      }
    }
    .desc p {
      color: #424242;
      font-size: 1.2rem;
      font-family: Pretendard400;
    }
  }
}

@media (max-width: 89.99em) {
  .footer {
    justify-content: center;
    &-logo {
      display: none;
    }
    &-content {
      .nav ul {
        justify-content: center;
      }
      .desc p {
        text-align: center;
        &:last-child {
          position: relative;
          bottom: -3.5rem;
        }
      }
    }
  }
}

@media (max-width: 47.94em) {
  .footer {
    padding: 3.3rem 4rem 3.7rem 4rem;
    &-content .desc {
      padding: 0 7.5rem;
    }
  }
}
