.header {
  height: 8.4rem;
  border-bottom: 0.8px solid #323232;
  margin-bottom: 2.1rem;
  .header-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo img {
      height: 3.7rem;
      width: 14.1rem;
    }
    .nav {
      color: #fff;
      font-size: 1.6rem;
      display: flex;
      ul {
        list-style: none;
        display: flex;
        gap: 3rem;
        &:first-child {
          padding-right: 3rem;
          border-right: 1px solid #e4ebf3;
        }
        &:last-child {
          padding-left: 3rem;
        }
      }
    }
  }
}

.hero {
  margin-bottom: 10.6rem;
  text-align: center;
  position: relative;
  .hero-img {
    height: 99.1rem;
    width: 45.2rem;
  }
  .hero-content {
    position: absolute;
    bottom: 11.1rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 5rem;
      font-weight: 700;
      color: #fff;
      margin-bottom: 3.1rem;
      max-width: 63.6rem;
    }
    p {
      font-size: 2rem;
      background: linear-gradient(
        90deg,
        #cb9fff -1.87%,
        #eec6ff 50.45%,
        #ffdcfe 119.8%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      margin-bottom: 3.7rem;
    }
  }
}

.info {
  position: relative;
  text-align: center;
  margin-bottom: 42.3rem;
  .back-img {
    text-align: center;
    position: inherit;
    img {
      &:first-child {
        margin-top: 4.3rem;
      }
      &:last-child {
        max-width: 100%;
        height: 95.7rem;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 43.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      max-width: 65rem;
      color: #fff;
      font-size: 5rem;
      font-weight: 700;
      margin-bottom: 3.1rem;
      span {
        padding-top: 0.5rem;
        color: #000;
        background-color: #7c19ea;
      }
    }
    .desc {
      margin-bottom: 8.4rem;
      p {
        color: #fff;
        font-size: 2rem;
        span {
          background: linear-gradient(
            90deg,
            #cb9fff -1.87%,
            #eec6ff 50.45%,
            #ffdcfe 119.8%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.01rem;

      img {
        width: 40.3995rem;
        height: 33.8346rem;
      }
    }
  }
}

.prices {
  position: relative;
  padding-top: 24.6rem;
  margin-bottom: 41.8rem;
  .front-img {
    img {
      &:first-child {
        height: 43.1149rem;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:last-child {
        height: 13.9468rem;
        position: absolute;
        top: 5.8rem;
        left: 24.4rem;
      }
    }
  }
  .prices-content {
    max-width: 157.2rem;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 23.917rem;
    .desc {
      h1 {
        width: 49rem;
        color: #fff;
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 5.4rem;
        span {
          background-color: #7c19ea;
          color: #000;
        }
      }
      p {
        // width: 35.7rem;
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 3.5rem;
      }
    }
    .prices-list {
      ul {
        display: flex;
        gap: 5rem;
        width: 50%;
        padding: 0 5rem 5.4rem 0;
        margin-bottom: 2.6rem;
        overflow-x: scroll;
        /* For WebKit browsers (e.g., Chrome, Safari) */
        &::-webkit-scrollbar {
          height: 2px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #fff;
        }

        &::-webkit-scrollbar-track {
          background-color: #8b8b8b;
        }

        /* For Firefox */
        /* Note: Firefox supports scrollbar customization starting from version 64 */
        /* You may need to check for updates if this doesn't work */
        /* and consider browser compatibility if this is for a public website */
        scrollbar-color: white;

        /* For Internet Explorer and Edge */
        /* Note: Custom scrollbar styling is not supported in IE, only Edge */
        /* You may need to use -ms-overflow-style for older versions of Edge */
        /* and check for updates if this doesn't work */
        -ms-overflow-style: -ms-autohiding-scrollbar;
      }
      .list-desc {
        p {
          color: #fff;
          font-size: 2rem;
          font-weight: 500;
          &:last-child {
            background-image: linear-gradient(
              262deg,
              #7c19ea 6.81%,
              #ffc1fd 90.34%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

.advantages {
  width: 100%;
  &-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;
    h1 {
      color: #fff;
      font-size: 5rem;
      font-weight: 700;
    }
    .gate {
      position: relative;
      div {
        &:first-child {
          width: 59.4rem;
          height: 9.2rem;
        }
        &:last-child {
          width: 100%;
          height: 0.2rem;
          background-color: #7c19ea;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          z-index: -99;
        }
      }
      &:first-child div:first-child {
        background-image: linear-gradient(90deg, #0f0f0f 0%, #0f0f0f00 100%);
      }
      &:last-child div:first-child {
        background-image: linear-gradient(270deg, #0f0f0f 0%, #0f0f0f00 100%);
      }
    }
  }
  &-desc {
    margin-bottom: 8.5rem;
    p {
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
      &:first-child {
        color: #fff;
      }
      &:last-child {
        background: linear-gradient(
          90deg,
          #cb9fff -1.87%,
          #eec6ff 50.45%,
          #ffdcfe 119.8%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &-content {
    width: 100%;
    height: 81.5rem;
    background-image: linear-gradient(180deg, #0f0f0f00 -0.81%, #0f0f0f 100%),
      url("./assets/images/Artboard\ 1\ 2.png");
    background-size: cover;
    margin-bottom: 54.7rem !important;
    position: relative;
    .comparison {
      position: absolute;
      top: 7.8rem;
      left: 50%;
      transform: translate(-50%);
      &-card {
        width: 101.6rem;
        height: 38rem;
        border-radius: 2rem;
        border: 5px solid;
        background: #fff;
        padding: 3.3rem 5rem 3.3rem 3.5rem;

        display: flex;
        justify-content: space-between;
        align-items: top;
        .heading {
          width: 100%;
          h2 {
            font-size: 25px;
            font-weight: 700;
          }
          img {
            height: 25.65rem;
          }
        }
        .points {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1.8rem;
          ul {
            list-style: none;
            li {
              height: 7.1rem;
              border-radius: 1rem;
              background: #eee;
              margin-bottom: 1rem;
              display: grid;
              place-items: center;
              font-size: 1.6rem;
              font-weight: 700;
              text-align: center;
              &:last-child {
                margin-bottom: 0;
              }
            }
            &:first-child li {
              width: 12.5rem;
              color: #222;
            }
            &:last-child li {
              width: 40.7rem;
              color: #4f4f4f;
              border: 2px solid #dfdfdf;
              padding: 0 5rem;
            }
          }
        }
        &.others {
          border-color: #878787;
          gap: 5.86rem;
          margin-bottom: 4.6rem;
          .heading {
            h2 {
              margin-bottom: 4.33rem;
              color: #5a5a5a;
            }
            img {
              position: relative;
              left: 2.9rem;
            }
          }
        }
        &.hoca {
          border-color: #a962f9;
          box-shadow: 0 0 6.41rem 0 #7c19ea66;
          gap: 2.3rem;
          margin-bottom: 4.4rem;
          .heading {
            h2 {
              color: #9445ec;
              margin-bottom: 2.5rem;
            }
            img {
              height: 28.6rem;
              position: relative;
              left: -2.9rem;
            }
          }
          .points ul:last-child li {
            color: #7c19ea;
            border-color: #cfa4ff;
          }
        }
      }
      .arrow-bottom {
        height: 2.3rem;
        text-align: center;
        margin-bottom: 4.6rem;
      }

      a {
        color: #915bff;
        font-size: 1.8rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        padding: 0.7rem 0;
        transition: all 0.3s;
        img {
          height: 1rem;
        }
        &:hover {
          gap: 1.2rem;
        }
      }
    }
  }
}

.advertising {
  margin-bottom: 15.3rem !important;
  h1 {
    color: #fff;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 3.4rem;
  }
  &-desc {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(
      90deg,
      #cb9fff -1.87%,
      #eec6ff 50.45%,
      #ffdcfe 119.8%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4.8rem;
  }
  &-card {
    width: 100%;
    height: 36.8rem;
    background-color: #fff;
    border-radius: 4rem;
    position: relative;
    .star {
      position: absolute;
      right: -14.3rem;
      top: -17.1rem;
      z-index: -9;
    }
    .frame {
      width: 100%;
      position: absolute;
      bottom: -3px;
      left: 0;
      img {
        &:last-child {
          position: absolute;
          left: -6rem;
          bottom: 3px;
        }
      }
    }
    .content {
      height: 100%;
      padding-left: 40.2rem;
      padding-right: 8.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 7.9rem;
      list-style: none;
      .pin {
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 0.5rem;
        background: #000;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 170%;
        text-align: center;
        margin-bottom: 1.1rem;
      }
      h2 {
        color: #000;
        font-size: 2rem;
        font-weight: 500;
        line-height: 160%;
        width: 25.3rem;
        margin-bottom: 1.3rem;
        span {
          font-weight: 600;
        }
      }
      p {
        color: #000;
        font-size: 1.6rem;
        font-weight: 600;
        width: 22.4rem;
      }
    }
  }
}

.join {
  background-color: #090909;
  padding-top: 10.3rem;
  padding-bottom: 6.26rem;
  text-align: center;
  h1 {
    color: #fff;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 3.4rem;
  }
  &-text {
    margin: 7.3rem;
    background-image: linear-gradient(
      180deg,
      #09090900 0%,
      #09090970 22.4%,
      #090909db 52.4%,
      #090909 100%
    );
    p {
      background: linear-gradient(
        180deg,
        #7900ff63 0%,
        #7900ff63 0.01%,
        rgba(194, 139, 255, 0.23) 51.67%,
        #ffffff00 100%,
        #ffffff00 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 9rem;
      font-weight: 500;
      position: relative;
      top: -2.9rem;
    }
  }
}

.footer {
  background-color: #fff;
  padding: 3.3rem 17.2rem 3.7rem 17.2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 9rem;
  &-logo img {
    height: 7.2rem;
  }
  &-content {
    padding: 0 1.5rem 1.2rem 1.5rem;
    .nav ul {
      list-style: none;
      display: flex;
      padding: 0.8rem 0;
      margin-bottom: 1.8rem;
      li {
        align-items: center;
        color: #424242;
        font-size: 1.4rem;
        font-weight: 400;
        padding: 0 1.36rem;
        border-right: 1px solid #d4d4d4;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
          border: none;
        }
      }
      .selected {
        font-weight: 700;
      }
    }
    .desc p {
      color: #424242;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}
